body
{
	width: 99%;
    height: 677px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity:1;
    color: white;
}

#header
{
	position: fixed;
    padding: 0px 0px 0px 1px;
    width: 100%;
    /* Height of the footer*/ 
    height: 55px;
}

#menu
{
	padding: 100px 10px 0px 10px;
	font-size: 20px;
	font-family: cursive;
    font-weight: bolder;
	color: chartreuse;
	margin-top: 0%;
}


#footer
{
	position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    
}



div.transbox 
{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

div.transbox p 
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}